
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--pos-ui-gap-sm);
  border: 2px solid transparent;
  border-radius: 6px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  position: relative;
  overflow: hidden;

  &:active::before {
    width: 300px;
    height: 300px;
  }

  // 尺寸变体
  &--small {
    height: 36px;
    padding: 0 7px;
    font-size: var(--pos-ui-font-size-base);
    line-height: 20px;
  }

  &--medium {
    height: 48px;
    padding: 0 15px;
    font-size: var(--pos-ui-font-size-xl);
    line-height: 24px;
  }

  &--large {
    height: 56px;
    padding: 0 15px;
    font-size: var(--pos-ui-font-size-xl);
    line-height: 26px;
  }

  // 圆角样式
  &--rounded {
    border-radius: var(--pos-ui-border-radius-2xl);
  }

  // 颜色变体 - Fill 样式
  &--fill {
    &.button--primary {
      background: var(--pos-ui-primary-color);
      color: var(--pos-ui-text-normal);
      box-shadow: var(--pos-ui-btn-primary-shadow);

      &:active:not(:disabled) {
        background: var(--pos-ui-primary-pressed);
      }
    }

    &.button--secondary {
      background-color: var(--pos-ui-btn-secondary-bg);
      color: var(--pos-ui-primary-color);
      box-shadow: none;

      &:active:not(:disabled) {
        color: var(--pos-ui-text-normal);
        background-color: var(--pos-ui-primary-pressed);
      }
    }

    &.button--default {
      background-color: var(--pos-ui-btn-default-bg);
      color: var(--pos-ui-text-primary);
      border-color: var(--pos-ui-btn-default-border);
      box-shadow: var(--pos-ui-shadow-sm);

      &:active:not(:disabled) {
        color: var(--pos-ui-primary-color);
        border-color: var(--pos-ui-primary-color);
        background-color: var(--pos-ui-btn-secondary-pressed);
      }
    }

    &.button--mix {
      background-color: var(--pos-ui-btn-default-bg);
      color: var(--pos-ui-primary-color);
      border-color: var(--pos-ui-btn-default-border);
      box-shadow: var(--pos-ui-shadow-sm);

      &:active:not(:disabled) {
        background-color: var(--pos-ui-btn-mix-bg-pressed);
        border-color: var(--pos-ui-btn-mix-bg-pressed);
      }
    }

    &.button--danger {
      background-color: var(--pos-ui-danger-color);
      color: var(--pos-ui-text-normal);
      box-shadow: var(--pos-ui-btn-danger-shadow);

      &:active:not(:disabled) {
        background-color: var(--pos-ui-danger-color-pressed);
      }
    }
  }

  // 颜色变体 - Outline 样式
  &--outline {
    background-color: transparent;
    box-shadow: none;

    &.button--primary {
      color: var(--pos-ui-primary-color);
      border-color: var(--pos-ui-primary-color);
      box-shadow: var(--pos-ui-btn-primary-shadow);

      &:active:not(:disabled) {
        border-color: var(--pos-ui-primary-pressed);
        color: var(--pos-ui-primary-pressed);
      }
    }

    &.button--default {
      color: var(--pos-ui-text-primary);
      border-color: var(--pos-ui-btn-default-border);
      box-shadow: var(--pos-ui-shadow-sm);

      &:active:not(:disabled) {
        color: var(--pos-ui-primary-pressed);
        border-color: var(--pos-ui-primary-pressed);
        background-color: var(--pos-ui-btn-secondary-pressed);
      }
    }

    &.button--mix {
      background-color: var(--pos-ui-btn-default-bg);
      color: var(--pos-ui-primary-color);
      border-color: var(--pos-ui-btn-default-border);
      box-shadow: var(--pos-ui-shadow-sm);

      &:active:not(:disabled) {
        border-color: var(--pos-ui-primary-pressed);
        color: var(--pos-ui-primary-pressed);
      }
    }

    &.button--danger {
      color: var(--pos-ui-danger-color);
      border-color: var(--pos-ui-danger-color);
      box-shadow: var(--pos-ui-btn-danger-shadow);

      &:active:not(:disabled) {
        border-color: var(--pos-ui-danger-color-pressed);
        color: var(--pos-ui-danger-color-pressed);
      }
    }
  }

  // Dashed 样式
  &--dashed {
    background-color: transparent;
    border-style: dashed;
    box-shadow: none;
    color: var(--pos-ui-text-primary);
    border-color: var(--pos-ui-btn-default-border);

    &:active:not(:disabled) {
      background-color: var(--pos-ui-border-color);
      border-color: var(--pos-ui-primary-color);
    }
  }

  // Text 样式（无边框，无背景）
  &--text {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: var(--pos-ui-text-primary);

    &:active:not(:disabled) {
      background-color: var(--pos-ui-border-color);
    }
  }

  // Link 样式（文字链接样式）
  &--link {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: var(--pos-ui-primary-color);
    text-decoration: none;
    // text-underline-offset: 4px;
    // height: auto;
    padding: 0;

    &:active:not(:disabled) {
      color: var(--pos-ui-primary-pressed);
    }
  }

  // 颜色主题 - Cyan
  &--color-cyan {
    &.button--fill {
      background-color: var(--pos-ui-color-cyan);
      color: var(--pos-ui-text-normal);
      box-shadow: var(--pos-ui-color-cyan-shadow);
      border-color: var(--pos-ui-color-cyan);
      &:active:not(:disabled) {
        color: var(--pos-ui-text-normal);
        background-color: var(--pos-ui-color-cyan-pressed);
        border-color: var(--pos-ui-color-cyan-pressed);
      }
    }

    &.button--outline {
      background-color: transparent;
      color: var(--pos-ui-color-cyan);
      border-color: var(--pos-ui-color-cyan);
      box-shadow: var(--pos-ui-color-cyan-shadow);

      &:active:not(:disabled) {
        border-color: var(--pos-ui-color-cyan-pressed);
        background-color: transparent;
        color: var(--pos-ui-color-cyan-pressed);
      }
    }
  }

  // 颜色主题 - Red
  &--color-red {
    &.button--fill {
      background-color: var(--pos-ui-danger-color);
      color: var(--pos-ui-text-normal);
      box-shadow: var(--pos-ui-danger-color-shadow);

      &:active:not(:disabled) {
        background-color: var(--pos-ui-danger-color-pressed);
        border-color: var(--pos-ui-danger-color-pressed);
      }
    }

    &.button--outline {
      background-color: transparent;
      color: var(--pos-ui-danger-color);
      border-color: var(--pos-ui-danger-color);
      box-shadow: var(--pos-ui-danger-color-shadow);

      &:active:not(:disabled) {
        background-color: transparent;
        border-color: var(--pos-ui-danger-color-pressed);
        color: var(--pos-ui-danger-color-pressed);
      }
    }

    // Link 样式特殊处理 - 只改变文字颜色，不改变背景
    &.button--link {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      color: var(--pos-ui-danger-color);
      text-decoration: none;

      &:active:not(:disabled) {
        color: var(--pos-ui-danger-color-pressed);
      }
    }
  }

  // outline 按钮按压时变为 fill 样式
  &--solid-on-pressed {
    &.button--outline {
      &.button--primary:active:not(:disabled) {
        background: var(--pos-ui-primary-pressed);
        color: var(--pos-ui-text-normal);
        border-color: var(--pos-ui-primary-pressed);
      }

      &.button--danger:active:not(:disabled) {
        background-color: var(--pos-ui-danger-color-pressed);
        color: var(--pos-ui-text-normal);
        border-color: var(--pos-ui-danger-color-pressed);
      }

      &.button--color-cyan:active:not(:disabled) {
        color: var(--pos-ui-text-normal);
        background-color: var(--pos-ui-color-cyan-pressed);
        border-color: var(--pos-ui-color-cyan-pressed);
      }

      &.button--color-red:active:not(:disabled) {
        color: var(--pos-ui-text-normal);
        background-color: var(--pos-ui-danger-color-pressed);
        border-color: var(--pos-ui-danger-color-pressed);
      }
    }
  }

  // 禁用状态
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;

    &::before {
      display: none;
    }
  }

  // 图标和内容
  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__content {
    display: inline-flex;
    align-items: center;
  }
}

// IconButton 特殊样式
.iconButton {
  padding: 0;
  aspect-ratio: 1;
  
  &.button--small {
    width: 36px;
    height: 36px;
  }

  &.button--medium {
    width: 48px;
    height: 48px;
  }

  &.button--large {
    width: 56px;
    height: 56px;
  }
}
