@font-face {
  font-family: inter;
  src: url('../assets/fonts/Inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: inter;
  src: url('../assets/fonts/Inter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: inter;
  src: url('../assets/fonts/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: inter, sans-serif;
}
