@use './_functions.scss' as *;

:root {
  // 浅色主题
  --pos-ui-primary-color: #134CEB;
  --pos-ui-primary-pressed: #0632C4;
  --pos-ui-bg-color: #fff;
  // text
  --pos-ui-text-primary: #{black(88%)};
  --pos-ui-text-secondary: #{black(50%)};
  --pos-ui-text-normal: #fff;
  --pos-ui-text-inverse: #000;
  
  --pos-ui-border-color: #{black(4%)};

  --pos-ui-shadow-sm: 0 2px 0 0 #{black(2%)};
  --pos-ui-shadow-light: 0 4px 8px #{black(7.5%)};

  // button
  --pos-ui-btn-primary-shadow: 0 2px 0 0 rgb(5 145 255 / 10%);
  --pos-ui-btn-secondary-bg: #e6f1ff;
  --pos-ui-btn-secondary-pressed: #e6f1ff;
  --pos-ui-btn-default-border: #d9d9d9;
  --pos-ui-btn-default-bg: #fff;
  --pos-ui-btn-mix-bg-pressed: #{black(15%)};
  --pos-ui-btn-danger-shadow: 0 2px 0 0 rgb(255 38 6 / 6%);

  // color button - cyan
  --pos-ui-color-cyan: #13c2c2;
  --pos-ui-color-cyan-hover: #36cfc9;
  --pos-ui-color-cyan-pressed: #08979c;
  --pos-ui-color-cyan-shadow: 0 2px 0 0 rgb(19 194 194 / 15%);

  // icon button
  --pos-ui-icon-button-color: #{black(88%)};
  --pos-ui-icon-button-bg: #{black(4%)};
  --pos-ui-icon-button-pressed-bg: #{black(15%)};
  --pos-ui-icon-button-focus-bg: #{black(4%)};
  --pos-ui-icon-button-box-shadow: #{black(5%)};
  --pos-ui-icon-button-disabled: #{black(20%)};
  --pos-ui-icon-primary: #{black(88%)};

  // 状态颜色
  --pos-ui-success-color: #52c41a;
  --pos-ui-success-color-bg: #f6ffed;
  --pos-ui-warning-color: #faad14;
  --pos-ui-warning-color-bg: #fffbe6;
  --pos-ui-danger-color: #f5222d;
  --pos-ui-danger-color-pressed: #cf1322;
  --pos-ui-danger-color-bg-pressed: #fff1f0;
  --pos-ui-info-color-bg: #e6f1ff;
}

[data-theme='dark'] {
  --pos-ui-primary-color: #4d70ff;
  --pos-ui-primary-pressed: rgb(77 112 255 / 6%);
  --pos-ui-bg-color: #1a1a1a;
  --pos-ui-text-primary: #{white(85%)};
  --pos-ui-text-secondary: #b0b0b0;
  --pos-ui-text-normal: #000;
  --pos-ui-text-inverse: #fff;

  --pos-ui-border-color: #{white(8%)};

  --pos-ui-shadow-sm: 0 2px 0 0 #{white(2%)};
  --pos-ui-shadow-light: 0 4px 8px #{white(30%)};
    // button
  --pos-ui-btn-primary-shadow: 0 2px 0 0 rgb(5 145 255 / 10%);
  --pos-ui-btn-secondary-bg: rgb(77 112 255 / 10%);
  --pos-ui-btn-secondary-pressed: rgb(77 112 255 / 20%);
  --pos-ui-btn-default-border: #{white(8%)};
  --pos-ui-btn-default-bg: #{white(8%)};
  --pos-ui-btn-mix-bg-pressed: #{white(18%)};
  --pos-ui-btn-danger-shadow: 0 2px 0 0 rgb(255 38 6 / 6%);

  // color button - cyan
  --pos-ui-color-cyan: #13a8a8;
  --pos-ui-color-cyan-hover: #138585;
  --pos-ui-color-cyan-pressed: #33bcb7;
  --pos-ui-color-cyan-shadow: 0 2px 0 0 rgb(19 168 168 / 15%);
  // icon button
  --pos-ui-icon-button-color: #{white(88%)};
  --pos-ui-icon-button-bg: #{white(8%)};
  --pos-ui-icon-button-pressed-bg: #{white(18%)};
  --pos-ui-icon-button-focus-bg: #{white(8%)};
  --pos-ui-icon-button-box-shadow: #{black(2%)};
  --pos-ui-icon-button-disabled: #{white(20%)};

    // 状态颜色
  --pos-ui-success-color: #49aa19;
  --pos-ui-success-color-bg: rgb(73 170 25 / 10%);
  --pos-ui-warning-color: #d89614;
  --pos-ui-warning-color-bg: rgb(216 150 20 / 10%);
  --pos-ui-danger-color: #e84749;
  --pos-ui-danger-color-pressed: rgb(232 71 73 / 60%);
  --pos-ui-danger-color-bg-pressed: rgb(232 71 73 / 10%);
  --pos-ui-info-color-bg: rgb(77 112 255 / 10%);
}
